*{
display:inline inline-block ;

background-color:rgb(239, 244, 244);
margin:0px;
padding:0px;
box-sizing:border-box;
float :none;
}

form{
    background-color:lightgrey;
    padding:20px;
    border-radius:10px;
    margin:10px;


}
nav ul{
    list-style-type:none;
    display:block;
    margin-right:20px;
    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{
    font-style: normal;
}
ul{
margin-right: 20px;

font-size: 20px;
    }



nav ul a{
    
    color:rgb(33, 158, 174);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align-last: center;
}
    
photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}