@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: white;

    }
}
@media screen and (min-width: 768px) { 
    body {
        background-color: rgb(95, 196, 40);
        color: black;
    }
    
}
.column {
    float: left;
    width: 220px;
    padding: 10px;
    
}